body{
	background-color: #02010a;
}
#cabecera{
	background-color: #5b7989;
	border-radius: 10px 10px 0px 0px;
	columns: 2;
}
#titulo{
	width: 100%;
}
h1{
	color: #fff;
	text-align: left;
	text-shadow: 2px 2px #02010a;
	padding: 0px 0px 0px 10px;
	font-family: 'Dancing Script', bold;
}
section nav {
	width:90%;
	max-width:900px;
	margin:0px auto;
	
}
 
.menu_bar {
	display:contents;
	width: 100%;
}
 
section nav ul {
	overflow:inherit;
	list-style:none;
}
 
section nav ul li {
	float:right;
}
 
section nav ul li a {
	color:#fff;
	padding:20px;
	display:block;
	font-family: "Dancing Script", normal;
	text-decoration:none;
}
 
section nav ul li span {
	margin-right:10px;
}
 
section nav ul li a:hover {
	background:#037E8C;
	font-family: "DancingScrip-Bold";
}
section {
	padding:0px;
}
#contenido{
	background-color: #82c3a6;
	max-width: 1400px;
	width: 100%;
}
#central{
	max-width: 900px;
     padding: 5px;
     margin-left: 15%;
}
img {
	max-width: 100%;
	height:auto;
}
#secundaria{
	display: flex;
	columns: 2;
	background-color: #d5c75f;
	border: 1px solid;
	width: 100%
}
#paisajes{
	width: 50%;
	padding: 20px;
    -webkit-transition: -webkit-transform 1s ease-out;
    -moz-transition: -moz-transform 1s ease-out;
    transition: transform 1s ease-out;
    
}
#paisajes:hover {
 -webkit-transform: rotate(10deg);
 -moz-transform: rotate(10deg);
 transform: rotate(10deg);
}
#retratos{
	width: 50%;
	padding: 20px;
}
#retratos:hover {
    transform: translate(20px,5px);
    -webkit-transform: translate(20px,5px); /** Chrome & Safari **/
    -o-transform: translate(20px,5px); /** Opera **/
    -moz-transform: translate(20px,5px); /** Firefox **/
}
#paisa1{
    	border: 2px;
    	box-shadow: 2px 2px 10px #82c3a6;
    }
#retra1{
	border: 2px;
    	box-shadow: 2px 2px 10px #82c3a6;
}
 
@media screen and (max-width:800px ) {
	section nav {
		width:80%;
		height:100%;
		left: 0%;
		margin:0;
		position: inherit;
	}
	section nav ul {
    overflow: inherit;
    list-style: none;
    display: inline-flex;
    }
 
	section nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}
 
	.menu_bar {
		display:contents;
		width:100%;
		background:#ccc;
	}
 
	.menu_bar .bt-menu {
		display:block;
		padding:20px;
		background:#024959;
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
 
	.menu_bar span {
		float:right;
		font-size:40px;
	}
	#contenido{
		background-color: #82c3a6;
		width: 90%;
		display: contents;
	}
	#central{
	    max-width: 900px;
        padding: 5px;
        margin-left: 15%;
    }
	#cabecera{
		width: 100%;
	}
	#secundaria{
	display: block;
	columns: 1;
	background-color: #d5c75f;
	border: 1px solid;
	width: 100%
    }
    #paisajes{
	width: 100%;
	padding: 20px;
    -webkit-transition: -webkit-transform 1s ease-out;
    -moz-transition: -moz-transform 1s ease-out;
    transition: transform 1s ease-out;
    }
    #paisajes:hover {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    transform: rotate(10deg);
    }
    #retratos{
	width: 100%;
	padding: 20px;
    }
    #retratos:hover {
    transform: translate(20px,5px);
    -webkit-transform: translate(20px,5px); /** Chrome & Safari **/
    -o-transform: translate(20px,5px); /** Opera **/
    -moz-transform: translate(20px,5px); /** Firefox **/
    }
    #paisa1{
    	border: 2px;
    	box-shadow: 2px 2px 10px #82c3a6;
    }

}


@media screen and (max-width:600px ) {
	section nav {
		width:80%;
		height:100%;
		left:-100%;
		margin:0;
		position: static;
	}
	section nav ul {
	overflow:inherit;
	list-style:none;
	display: flex;
    }
 
	section nav ul li {
		display:contents;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}
 
	.menu_bar {
		display: contents;
		width:100%;
		background:#ccc;
	}
 
	.menu_bar .bt-menu {
		display:block;
		padding:20px;
		background:#024959;
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
 
	.menu_bar span {
		float:right;
		font-size:40px;
	}
	#contenido{
		background-color: #82c3a6;
		width: 90%;
		display: contents;
	}
	#central{
	    max-width: 900px;
        padding: 5px;
        margin-left: 15%;
    }
	#cabecera{
		width: 100%;
		columns: 1;
	}
	#secundaria{
	display: block;
	columns: 1;
	background-color: #d5c75f;
	border: 1px solid;
	width: 100%
   }
   #paisajes{
	width: 100%;
	padding: 20px;
    -webkit-transition: -webkit-transform 1s ease-out;
    -moz-transition: -moz-transform 1s ease-out;
    transition: transform 1s ease-out;
    }
    #paisajes:hover {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    transform: rotate(10deg);
    }
    #retratos{
	width: 100%;
	padding: 20px;
    }
    #retratos:hover {
    transform: translate(20px,5px);
    -webkit-transform: translate(20px,5px); /** Chrome & Safari **/
    -o-transform: translate(20px,5px); /** Opera **/
    -moz-transform: translate(20px,5px); /** Firefox **/
    }
}
